In [1]:
import pandas as pd
import numpy as np

# Series
Series are a one dimensional data structure capable of holding any data type with __labeled__ indexes.

## Creating series

In [2]:
pd.Series(np.random.rand(5), ['a', 'b', 'c', 'd', 'e']) # a list of strings as index

a    0.840495
b    0.868075
c    0.777599
d    0.184228
e    0.556163
dtype: float64

In [3]:
pd.Series(np.random.rand(5)) # 0 indexed when index is not present

0    0.781328
1    0.170672
2    0.453113
3    0.259085
4    0.522342
dtype: float64

In [4]:
pd.Series(np.array([1, 2, 3])) # Create series using ndarray

0    1
1    2
2    3
dtype: int32

In [5]:
someDict = {'a': 1, 'b': 2, 'c': 3, 'd':4}

In [6]:
pd.Series(someDict) # Create series using dictionary

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
pd.Series(someDict, index=['c', 'a', 'b', 'd', 'e']) # Change index order while using dict, NaN for absent index

c    3.0
a    1.0
b    2.0
d    4.0
e    NaN
dtype: float64

In [8]:
pd.Series(5, index=['a', 'b', 'c', 'd']) # Creating a series from scalar

a    5
b    5
c    5
d    5
dtype: int64

### Get index

In [9]:
pd.Series(np.random.rand(5), ['a', 'b', 'c', 'd', 'e']).index ## Get index and type

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

### Get Values

In [10]:
pd.Series(np.random.rand(5), ['a', 'b', 'c', 'd', 'e']).values ## Get values

array([ 0.65970715,  0.08698233,  0.34548772,  0.76649905,  0.41871817])

### Set Name

In [11]:
namedSeries = pd.Series(np.random.rand(5), name='Random Series')

In [12]:
namedSeries

0    0.927469
1    0.690743
2    0.010352
3    0.517892
4    0.252514
Name: Random Series, dtype: float64

In [13]:
namedSeries.name

'Random Series'

### Indexing

In [14]:
ser = pd.Series(np.random.rand(10)*100)

In [15]:
ser

0    87.332035
1    50.073976
2    24.154902
3    40.057848
4    92.214611
5    35.784962
6    71.370236
7    19.391437
8    56.905110
9    27.641662
dtype: float64

In [16]:
ser[0] # As a python array

87.332034988044967

In [17]:
ser[ser > 10] # As a ndarray

0    87.332035
1    50.073976
2    24.154902
3    40.057848
4    92.214611
5    35.784962
6    71.370236
7    19.391437
8    56.905110
9    27.641662
dtype: float64

In [18]:
ser[ser > ser.median()] # Another ndarray like indexing

0    87.332035
1    50.073976
4    92.214611
6    71.370236
8    56.905110
dtype: float64

In [19]:
1 in ser # dict-like behaviour of Series checks for index

True

In [20]:
ser[0] in ser # as well as values

False

## Operations on Series

In [21]:
ser + ser # Addition

0    174.664070
1    100.147952
2     48.309803
3     80.115697
4    184.429223
5     71.569924
6    142.740471
7     38.782875
8    113.810220
9     55.283325
dtype: float64

In [22]:
ser * 5

0    436.660175
1    250.369881
2    120.774508
3    200.289242
4    461.073057
5    178.924811
6    356.851178
7     96.957187
8    284.525550
9    138.208312
dtype: float64

In [23]:
ser ** 2

0    7626.884335
1    2507.403087
2     583.459274
3    1604.631212
4    8503.534539
5    1280.563514
6    5093.710533
7     376.027846
8    3238.191544
9     764.061497
dtype: float64

In [24]:
np.exp(ser)

0    8.468781e+37
1    5.582793e+21
2    3.092719e+10
3    2.494035e+17
4    1.117627e+40
5    3.477055e+15
6    9.901466e+30
7    2.639941e+08
8    5.171009e+24
9    1.010698e+12
dtype: float64

In [25]:
ser[1:] + ser[:-2] # Automatic alignment of indexes, i.e no need to check for index compatibility

0           NaN
1    100.147952
2     48.309803
3     80.115697
4    184.429223
5     71.569924
6    142.740471
7     38.782875
8           NaN
9           NaN
dtype: float64